@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
.navBox {
	display: none;
}

@media (min-width: 992px) {
.navBox {
	display: block;
	/*background-color: lightgreen;*/
	padding: 0;
	margin: 0 1em 0 auto;
}
	.navBox ul {
		display: flex;
		text-decoration: none;
		list-style: none;
	}
	.navBox ul li {
		padding-right: 1.5em;
		color: grey;
		font-family: 'Work Sans', sans-serif;
		font-size: 0.9em;
	}
	.navBox ul li:hover {
		color: salmon;
	}

}