 /*======== MAIN ========*/
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.main {
	margin-top: 5em;
	padding: 0;
	width: 100%;
}
.word {text-align: center;font-family: "Frank Ruhl Libre", serif;}
@media (min-width: 992px) {
.main {margin-left: 15em;width: auto;}
}
/*========== UTILITY ==========*/
.mainContent {
	margin: 0;
	padding: 0;
	width: 100%;
}
.mainContent:after {
	content: "";
	display: table;
	clear: both;
}
.contentTitle {
	font-family: "Frank Ruhl Libre", serif;
	font-size: 1.5em;
	color: #333;
	margin: 0;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}
.mCL {width: 100%;}
.mCR {width: 100%;}

@media (min-width: 992px) {
.mainContent {}
.mCL {float: left;width: 67%;}
.mCR {float: left;width: 33%;}
}

.readBtn {
	background-color: black;
	color: #FFF;
	text-decoration: none;
	border: none;
	font-family: "Work Sans", sans-serif;
	font-weight: 700;
	padding: 0;
	width: 4.5em;
	height: 2em;
	font-size: 0.5em;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1), -1px -1px 5px rgba(0,0,0,0.1);
	margin: 0 0 0 auto;
}
@media (min-width: 992px) {
.readBtn {width: 4.75em;font-size: 0.6em;font-weight: 600;}
}

.moreBtn {
	margin: 0.5em 0;
	height: 2.25em;
	border-top: 1px solid rgba(0,0,0,0.08);
	border-bottom: 1px solid rgba(0,0,0,0.08);
	overflow: hidden;
}
	.moreBtn a {
		display: block;
		height: 70%;
		margin-top: 1em;
		padding: 0 1em;
		text-align: right;
		display: flex;
		font-family: "Work Sans", sans-serif;
		font-size: 0.6em;
		font-weight: 900;
	}
		.moreBtn a b {margin: 0 0 0 auto;}
		.moreBtn a img {
			display: block;
			width: 1em;
			height: 1em;
			margin: 0.1em 0 0 0;
		}
/*=============================*/

/*====== Preview Components ======*/
.previewContainer {
	padding: 0;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin: 0;
	column-gap: 1em;
	position: relative;
	text-decoration: none;
	list-style: none;
}
.preview {
	width: 100%;
	height: auto;
	margin: 0.5em 0;
	grid-column: span 6;
	position: relative;
	text-decoration: none;
	list-style: none;
	overflow: ; /* NOT5 RECOMMENDATION*/
}
	.previewHead {
		background-color: #FFF;
		width: auto;
		height: 10em;
		border-radius: 5px;
		box-shadow: 3px 3px 10px rgba(0,0,0,0.1), -3px -3px 10px rgba(0,0,0,0.1);
		overflow: hidden;
	}
		.previewHead img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	.previewBody {
		background-color: ;
		margin: 0;
		width: auto;

		margin-top: 0.5em;
	}
		.previewBody h2{
			margin: 0;
			font-family: "Work Sans", sans-serif;
			font-size: 0.9em;
			font-weight: 900;
			line-height: 1.2em;
			color: #333;
			overflow: hidden;
		}
		.previewBody p {
			margin: 0;
			font-family: "EB Garamond", serif;
			font-size: 0.75em; /*nilai awal 0.9em*/
			font-weight: 500;
			line-height: 1.2em; /*nilai awal 1.25em*/
			color: #333;
			overflow: hidden;

			/*margin-top: 0.5em;*/
			margin-top: 0.25em;
			height: 2.35em;
		}
		.pBDetail {
			display: flex;
			margin-top: 0.15em;
		}
			.pBDetail b {
				display: block;
				font-family: "Work Sans", sans-serif;
				font-size: 0.4em;
				font-weight: 600;
				color: black;
				margin: auto 0 auto 0;

				justify-content: center;
				text-align: center;
			}
			.pBDetail time {
				display: block;
				font-family: "EB Garamond", serif;
				font-size: 0.45em;
				font-weight: 500;
				color: #999A9D;
				margin: auto 0 auto 0.7em;

				justify-content: center;
				text-align: center;
			}
@media (min-width: 992px) {
		.pBDetail {
			margin-top: 0.25em;
		}
			.pBDetail b {
				font-size: 0.5em;
			}
			.pBDetail time {
				font-size: 0.5em;
			}
}
/*================================*/
/*================================*/
/*======== LATEST CONTENT ========*/
.latest {margin: 0;width: 100%;}
.cC {
	width: 100%;
	padding: 0 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: ; /*NOT RECOMMENDATION*/ 
}
/*===latest opening===*/
.latestOpening {
	padding: 0 1em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
	.lOHead {
		height: 12em;
		box-shadow: 5px 5px 15px rgba(0,0,0,0.1), -5px -5px 15px rgba(0,0,0,0.1);
	}
	.lOBody {}
		.lOBody h2 {font-size: 1.2em;}
		.lOBody p {font-size: 1em;}
	.lOBDetail {margin-top: 0.25em;}
		.lOBDetail b {font-size: 0.55em;color: #333;}
		.lOBDetail time {font-size: 0.55em;}
@media (min-width: 992px) {
	.lOHead {height: 22.5em;}
	.lOBDetail {margin-top: 0.25em;}
		.lOBDetail b {font-size: 0.6em;}
		.lOBDetail time {font-size: 0.6em;}
}
/*====================*/
/*================================*/

/*===== player =====*/
.player {
	width: 92%;
	height: 11em;
	background-color: black;
	margin: 0 auto;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.15), -5px -5px 15px rgba(0,0,0,0.15);
	margin-bottom: 0.5em;
}
.button.play {
	width: 54px;
	height: 54px;
	border-style: solid;
	border-width: 28px;
	border-color: red;
	border-width: 28px 28px 28px 28px;
	border-color: red yellow green blue;
	border-width: 25px 0 30px 60px;
	box-sizing: border-box;
	border-width: 25px 0 30px 50px;
	border-color: transparent transparent transparent red;
	background-color: transparent;
	margin: 18% auto 0;
	margin-left: 43%;
	cursor: pointer;
}
/*===================*/

/*========= TOP CONTENT =========*/
.top {width: 100%;margin: 0;}
.topContainer {
	margin: 0;
	padding: 0 1em;
	text-decoration: none;
	list-style: none;
	border-top: 1px solid rgba(0,0,0,0.08);
}
	.topCard {
		width:;
		text-decoration: none;
		list-style: none;
		border-bottom: 1px solid rgba(0,0,0,0.08);
		margin-top: 0.5em;
	}
	.tCC {display: flex;width: 100%;}
		.tCHead {
			background-color: #FFF;
			width: 30%;
			/*height: 6.75em; ukuran untuk web*/
			height: 6em;
			border-radius: 5px;
			overflow: hidden;
		}
			.tCHead img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		.tCBody {
			width: 70%;
			/*padding: 0 0 0 1em; ukuran untuk web*/
			padding: 0 0 0 0.75em;
			overflow: ;
		}
			.tCBody h2 {
				margin: 0;
				font-family: "Work Sans", sans-serif;
				font-size: 1em;
				font-weight: 900;
				line-height: 1.25em;
				color: #333;
				overflow: hidden;
			}
			.tCBody p {
				margin: 0.2em 0 0 0;
				font-family: "EB Garamond", serif;
				font-size: 0.9em;
				font-weight: 400;
				line-height: 1.2em;
				color: #333;

				height: 2.5em;
				overflow: hidden;
			}
			.tCBDetail {
				margin: 0.15em 0 0.5em 0;
				display: flex;
			}
				.tCBDetail b {
					display:;
					margin: auto 0;
					font-family: "Work Sans", sans-serif;
					font-size: 0.5em;
					font-weight: 900; 
				}
				.tCBDetail time {
					display:;
					margin: auto 0 auto 0.7em;
					font-family: "EB Garamond", serif;
					font-size: 0.5em;
					font-weight: 400;
					color: #999A9D;
				}
/*===============================*/

/*=============== MAIN CONTENT 2 ===============*/

.mCL2 {width: 100%;}
.mCR2 {width: 100%;}
@media (min-width: 992px) {
	.mCL2 {float: left; width: 70%;}
	.mCR2 {float: left; width: 30%;}
}
/*========== POPULAR CONTENT ==========*/
.popular {margin: 0;width: 100%;}
	.pPHead {height: 8em;}

@media (min-width: 992px) {
.popularPreview {grid-column: span 4;}

}
/*=====================================*/


/*========== LEARN CONTENT ==========*/
.learn {margin: 0;width: 100%;}
.learnContainer {
	margin: 0;
	padding: 0 1em;
	text-decoration: none;
	list-style: none;
	border-top: 1px solid rgba(0,0,0,0.08);
}
.learnCard {}
.lCBody {margin-top: 0.4em;}
	.lCBody h2 {
		background-color: ;
		font-size: 1em;
		line-height: 1.25em;
	}
	.lCBDetail b {
		font-size: 0.5em;
		font-weight: 900;
	}
/*===================================*/
/*==============================================*/
